@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Puritan:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
}

body {
  overflow-x: hidden;
  background-color: #6681f9 !important;
  background-image: url('./images/back_img.png');
  background-position: center;
  background-blend-mode: overlay;
}

.App {
  text-align: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 3rem;
  z-index: 99;
  background-color: #2043f0;
  column-gap: 39rem;
}

.header {
  background-image: url('./images/hdr_1280x768_ad.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 16rem;
  opacity: 0.7;
}

.nav-link {
  text-decoration: none;
}

.meals-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.meal-card {
  flex-basis: calc(50% - 1rem);
  margin-bottom: 1rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  background-color: transparent !important;
}

.meal-link {
  text-decoration: none;
}

.table-image-cell {
  width: 15rem;
  height: 25rem;
  text-align: center;
  vertical-align: middle;
}

.mobile-version {
  margin-left: 20rem;
  margin-top: 2rem;
}

.table-responsive {
  overflow-x: auto;
}

.search-box {
  display: flex;
  align-items: center;
  padding: 10px;
  width: 100%;
}

.search-box input {
  width: 100%;
  padding: 8px;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 16px;
}

.left-aligned {
  text-align: left;
  font-family: 'Puritan', sans-serif;
  font-weight: 700;
  font-style: normal;
}

@media only screen and (min-width: 768px) {
  .meal-card .small-image {
    width: 24rem;
    height: 15rem;
  }

  .table {
    width: 50rem !important;
  }
}

@media only screen and (max-width: 768px) {
  .navbar {
    column-gap: 0;
  }

  .meal-card {
    width: calc(50% - 1rem);
  }

  .header {
    background-image: url('./images/hdr_1280x768_ad.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 5rem;
    opacity: 0.7;
  }

  .table {
    width: 100% !important;
  }

  .mobile-version {
    margin-left: 0;
    margin-top: 1rem;
    display: block;
    width: 100%;
  }

  .mobile-version td {
    display: block;
    width: 100%;
    text-align: left;
  }

  .table-image-cell {
    width: 5rem;
    height: 18rem;
    text-align: center;
    vertical-align: middle;
  }
}
